
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
     <link rel="icon" type="image/png" href="images/uploads/PPlogo.png">
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="containerpers">
    <div class="cardpers">
     <div class="profile-picture">
        <img src="https://i.pinimg.com/736x/88/b4/4e/88b44e2f78161c673f92346540e1ebee.jpg" alt="Profile Picture">
      </div>
      <h2 class="name"><%= user.fullname %></h2>
      <h3 class="username">@<%= user.username%></h3>
      <!-- <p class="tagline">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi.</p> -->
      <a href="/logout" class="button">Logout</a>
      <form class="upload-form" action="/upload" method="post" enctype="multipart/form-data">
  <input type="text" name="filecaption" placeholder="Some caption">
  <input type="file" name="file">
  <input type="submit" value="Upload">
</form>

    </div>
    </div>
    <div class="container">
  <div class="cards flex">
    <% user.posts.forEach(function(post) { %>
      <div class="card" style="width: 18rem;" data-post-id="<%= post._id %>">
        <img src="/images/uploads/<%= post.image %>"
             class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= post.postText %></h5>
          <form action="/post/delete/<%= post._id %>" method="POST" style="display: inline;">
            <button type="submit" class="btn" style="background-color:#228B22;color:#fff;" onclick="return confirm('Are you sure you want to delete this post?')">Delete Post</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>